[client]
port = 3306
default-character-set = utf8mb4

[mysql]
port = 3306
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

log-bin=mysql-bin
log-bin-index=/var/lib/mysql/mysql-bin.index
server_id=3

slow_query_log = ON
slow_query_log_file = /var/lib/mysql/slave-slow.log 
long_query_time = 5
log_queries_not_using_indexes = OFF

innodb_file_per_table = 1
binlog_format = row
skip-name-resolve
read-only

log-slave-updates=true
gtid-mode=on
enforce-gtid-consistency=true
master-info-repository=TABLE
relay-log-info-repository=TABLE
sync-master-info=1
slave-parallel-workers=2
binlog-checksum=CRC32
master-verify-checksum=1
slave-sql-verify-checksum=1
binlog-rows-query-log-events=1
port=3306
max_connections=2500
slave-skip-errors = 1032,1062,1007,1590,1396
